.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 90vh;
    column-gap: 40px;
    padding: 4rem 0;
}

.hero .hero_content .content_head {
    margin-bottom: 40px;
}

.hero .hero_content .content_head h1 {
    color: var(--primary-color);
}

.hero .hero_content .content_head p {
    color: var(--secondary-color);
}

.hero .hero_content .content_body p {
    color: var(--gray-color);
    margin-bottom: 40px;
}


@media (max-width: 600px) {
    .hero {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
    }

    .hero .hero_content {
        grid-row-start: 2;
    }

}

