.navbar {
    width: 100%;
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar .navbar_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;
    justify-content: space-between;
}

.navbar .navbar_container .navbar_brand {
    color: white;
}

.navbar .navbar_container .navbar_link {
    display: flex;
    column-gap: 40px;
}

.navbar .navbar_container .navbar_link a {
    color: white;
}

.navbar_mobile {
    position: sticky;
    top: 0;
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: var(--primary-color);
    display: none;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.navbar_mobile h4 {
    color: white;
}

.navbar_mobile .hamburger {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 8px;
    cursor: pointer;
}

.navbar_mobile .hamburger div {
    width: 35px;
    height: 4px;
    background-color: white;
    transition: all 0.3s ease;
}

.navbar_mobile .hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 12px);
}

.navbar_mobile .hamburger.active div:nth-child(2) {
    opacity: 0; 
}

.navbar_mobile .hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -12px);
}

.menu {
    position: fixed;
    top: -100%;
    width: 100%;
    display: none;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    background-color: var(--primary-color);
    padding: 1.5rem;
    box-sizing: border-box;
    transition: ease-out .3s;
    z-index: 90;
}

.menu.active {
    top: 10%;
}

.menu a {
    color: white;
}

@media (max-width: 600px) {
    .navbar {
        display: none;
    }

    .navbar_mobile {
        display: flex;
    }

    .menu {
        display: grid;
    }
}