.province {
    padding: 4rem 0;
}

.province .province_head {
    text-align: center;
}

.province .province_head h1 {
    color: var(--primary-color);
}

.province .province_head p {
    color: var(--secondary-color);
}

.province .province_table {
    margin-top: 50px;
}

.province .province_table table, td, th {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
}

.province .province_table table {
    border-collapse: collapse;
    width: 100%;
}

.province .province_table th {
    color: var(--primary-color);
    border-color: black;
}