*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
    --bg-color: #21282F;
    --primary-color: #06D6A0;
    --secondary-color: #118AB2;
    --danger-color: #EF476F;
    --black-color: #073B4C;
    --gray-color: #64748B;
    --title-size: 48px;
    --header-size: 32px;
    --body-size: 16px;
    --action-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}